body {
}

/*.applist-item-container{
    height:200px;
    width:200px;
}*/

#applistView{
    height:100%;
}

.appListContainer{
    /*height:400px;*/
     height:173px;
    /*width:173px;*/
    width: 300px;
    padding:5px;
}

.appImageIconContainer{
    height:173px;
    width:173px;
    position:relative;
}

.appImageIcon{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin:auto;
}

.overlayText{
    position:absolute;
    bottom: 4px;
    left: 8px;
}

.headerFooterPlaceholder{
    display:none;
}

.floatLeft{
    float:left;
}

.floatRight{
    float:right;
    margin-right:10px;

}

.noFloat{
    float:none;
}

.rightJustified{
    text-align:right;
}

/*.win-rating .win-star {
    font-size:12px;
    width:12px;
    height:12px;
    padding:4px;
}*/
.win-rating .win-star.win-user.win-full, .win-rating .win-star.win-average.win-full, .win-rating .win-star.win-average.win-full.win-disabled {
    color: yellow !important;
}