<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>homePage</title>

    <!--<link href="/app.css" rel="stylesheet" />-->
    <link href="/Views/Main/MainView.css" rel="stylesheet" />
    <script src="/Models/SampleListViewItemModel.js"></script>
    <script src="/ViewModels/MainViewModel.js"></script>
    <script src="/Views/Main/MainView.js"></script>
</head>
<body>
    <div class="testTemplate" data-win-control="WinJS.Binding.Template" style="display:none">
        <div class="smallListIconTextItem">
            <div data-win-bind="innerText: title"></div>
            <button class="win-interactive win-button" data-win-bind="onclick: buttonClickCommandBind; innerText: title"></button>
        </div>
    </div>

    <div id="content">
        <div class="pageHeader">
            <h2 class="win-h2">McPhersonApps</h2>
        </div>
        <div class="verticalScrolling">
            Just some content.
            <p>Main page is not done... check the hamburger icon for more areas to visit.</p>
        </div>
    </div>
        
</body>
</html>

