<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>About</title>


    <link href="/Views/About/AboutView.css" rel="stylesheet" />
    <script src="/ViewModels/AboutViewModel.js"></script>
    <script src="/Views/About/AboutView.js"></script>
</head>
<body>
    
    <div id="aboutContent">
        <div class="pageHeader">
            <h2 class="win-h2">About Me</h2>
        </div>

        <div class="verticalScrolling">
            <div id="heading" class="subHeader">
                <img id="meImage" src="/Assets/me.jpg" />
                <div id="myName">Lee McPherson, Ph.D.</div>
            </div>
            <div id="aboutText">
                <p>
                    I am a chemistry professor currently teaching at Rowan University and occasionally at local community colleges.
                    In my spare time, I write learn programming in C#, C++, and Javascript/TypeScript/HTML5 while writing apps for
                    the Universal Windows Platform (UWP).
                </p>
                <p>
                    My apps range in topics from chemistry- to encryption- to entertainment-based.  I once won Microsoft's 30-to-Launch
                    Windows Phone 7 app writing contest for an app called Molecular Models which aimed to teach basic chemistry principles
                    using 3D visuals that you could rotate and zoom.  I have also written tutorials on the (now defunct) Nokia Developer wiki
                    and the MSDN Technet Wiki.
                </p>
                <h2>
                    Education
                </h2>
                <ul>
                    <li>
                        Ph.D., Inorganic Chemistry (2004), University of California, Los Angeles, CA.
                    </li>
                    <li>
                        BA, Chemistry (1998) (minor Asian Studies), Occidental College, Los Angeles, CA.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>


