body {
}

.photoTemplateClass{
    height:auto;
    padding-left:10px;
    padding-right:10px;
}

.textTemplateClass{
    display:block;
    height:auto;
   
    margin:5px;
    text-align:center;
}

.innerDiv{
    text-align:left;
    display:inline-block;
        padding-left:10px;
    padding-right:10px;
    width:calc(100% - 20px);
     /*max-width:1000px;*/
     
}

#bloglistView{
    height:100%;
}

.win-listview .win-listlayout .win-container { 
    height:auto; 
}


.photoTemplateClass{

}

.photoTemplateClass p{
    text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}

.headerFooterPlaceholder{
    display:none;
}