<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BlogPage</title>

    <!--<link href="/app.css" rel="stylesheet" />-->
    <script src="/Views/Blog/BlogTemplateSelector.js"></script>
    <script src="/Models/TumblrModels.js"></script>
    <script src="/Models/WordPressModels.js"></script>
    <link href="/Views/Blog/BlogView.css" rel="stylesheet" />
    <script src="/ViewModels/BlogViewModel.js"></script>
    <script src="/Views/Blog/BlogView.js"></script>
</head>
<body>
    <div class="wordpressTemplate" data-win-control="WinJS.Binding.Template" style="display:none">
        <div class="textTemplateClass ">
            <div class="innerDiv whiteBackground">
                <h5 data-win-bind="innerText: post.date Converters.readableDate" class="secondaryText win-h5"></h5>
                <h2 data-win-bind="innerText: post.title" class="primaryText win-h2"></h2>
                <hr class="dividerColor" />
                <div class="bodyContent" data-win-bind="innerHTML: post.content BindingInitializers.setInnerHTML"></div>
                <div class="win-horizontal">
                    <button class="win-interactive win-button" data-win-bind="onclick: buttonClickCommandBind; innerText: post.discussion.comment_count Converters.commentCountConverter; disabled: post.discussion.comment_count Converters.commentCountDisableConverter"></button>
                    <button class="win-interactive win-button" data-win-bind="onclick: originalPostClickCommandBind">Original Post</button>
                </div>
            </div>
        </div>
    </div>

    <!--<div id="textTemplate" data-win-control="WinJS.Binding.Template" style="display:none">
        <div class="textTemplateClass">
            <h5 data-win-bind="innerText: date Converters.readableDate" class="secondaryText"></h5>
            <h1  data-win-bind="innerText: title" class="primaryText"></h1>
            <hr class="dividerColor" />
            <div class="bodyContent" data-win-bind="innerHTML: body BindingInitializers.setInnerHTML"></div>
        </div>
    </div>
    <div id="photoTemplate" data-win-control="WinJS.Binding.Template" style="display:none">
        <div class="photoTemplateClass">
            <h5 data-win-bind="innerText: date Converters.readableDate" class="secondaryText"></h5>
            <hr class="dividerColor"/>
            <p>
                <img data-win-bind="src: photos Converters.firstPhotoUrl" />
            </p>
            <p>
                <div data-win-bind="innerHTML: caption BindingInitializers.setInnerHTML"></div>
            </p>
        </div>
    </div>-->

    <div class="headerFooterPlaceholder">
        <div class="header lightPrimaryColor" style="height:60px;">
            <h1 class="win-h1">McPhersonApps Blog</h1>
        </div>
    </div>

    <div id="content">
        

        <div id="bloglistView"
             data-win-control="WinJS.UI.ListView"
             data-win-bind="winControl.itemDataSource: dataContext.itemsSource.dataSource; winControl.oniteminvoked: listItemInvokedBind"
             data-win-options="{itemTemplate: select('.wordpressTemplate'),
                                layout:{ type: WinJS.UI.ListLayout },
                                header: select('.header'),
                                selectionMode: 'none',
                                tapBehavior: 'none'
                                }">
        </div>
       
        <!--<div id="bloglistView"
             data-win-control="WinJS.UI.ListView"
             data-win-bind="winControl.itemDataSource: dataContext.itemsSource.dataSource; winControl.oniteminvoked: listItemInvokedBind"
             data-win-options="{itemTemplate: McPhersonApps.Views.blogTemplateSelector,
                                layout:{ type: WinJS.UI.ListLayout }
                                }">
        </div>-->


       
    </div>
</body>
</html>

