@font-face {
    font-family: 'Selawik';
    src: url('/Fonts/selawk.ttf');
}

@font-face {
  font-family: "Symbols";
  src: url(/WinJS/fonts/Symbols.ttf);
}

@media screen and (min-width: 980px) /* Desktop */ {
  body {
    /*background: red;*/
  }
}

@media screen  and (max-width: 979px) /* Tablet */ {
  body {
    /*background: blue;*/
  }
}

@media screen and (max-width: 500px) /* Mobile */ {
  body {
    /*background: green;*/
  }
}

html{
    overflow:hidden;
    height:100%;
}

body {
   
    font-family: Selawik;
    background-color: #131726;
    height: 100%;
    overflow: auto;
    -ms-touch-action:none;
}

#mainSplitView .win-splitview {
    position:absolute;
    top:0px;

}

#mainSplitView .win-splitview-pane{
    color: #ffffff;
    background-color:#263eb2;
}

   #mainSplitView .win-splitviewpanetoggle {
       
        float: left;
    }

     /*SplitView pane content style*/
    .header {
        white-space: nowrap;
        height:48px;
    }

    .pageHeader {
        white-space: nowrap;
        height:48px;
        padding-left:5px;
        background-color:#c5cae9;
    }

    /*.inlineSpacing{
        margin-left:50px;
    }*/

    .title {
        margin-top:5px;
        font-size: 25px;
        left: 50px;
        vertical-align: middle;
        display: inline-block;
        height:46px;
    }

    .nav-commands {
        margin-top: 20px;
    }

#mainSplitView .win-navbarcommand-button {
    background-color: transparent;
}

#mainSplitView .win-splitview-pane-hidden .win-navbarcommand-button {
    width: 46px;
}

#mainSplitView .win-splitview-pane-hidden .win-navbarcommand-label {
    /* Workaround: Make sure pane doesn't scroll if ContentDialog restores focus to
       NavBarCommand's label
    */
    visibility: hidden;
}


/*SplitView content style*/
#mainSplitView .win-splitview-content {
    background-color: #ffefbe;
    background: linear-gradient(#ffefbe, #ffffee);
}

/* needed so items don't stretch to full viewport size on chrome and partly on ie11 */
#mainSplitView .win-listview .win-itembox, .win-itemcontainer .win-itembox{
    height:auto;
}

#mainSplitView .win-splitviewcommand-button{
    color: #ffffff;
}

#mainSplitView .win-listview .win-itembox{
    background-color:#6983ff;
}

.win-listview .win-headercontainer{
    background-color: #c5cae9;
}


#hamburgerButton{
    color:#ffffff;
    
}

#separateHamburgerButton{
    color:#ffffff;
    background-color:#263eb2;
    position:absolute;
    top:0px;
    left:0px;
}

.textIcons{
    color:#ffffff;
}

.primaryText{
    color:#000000;
}

.secondaryText{
    color: #506eff;
}

.whiteBackground{
    background-color: #ffffff;
}

.lightBackground{
    background-color: #ffefbe;
}

.lightPrimaryColor{
    background-color: #c5cae9;
}

.primaryColor{
    background-color:#2e5056;
}

.darkPrimaryColor{
    background-color:#2e5cab;
}

.accentColor{
    background-color: #c29b25;
}

.dividerColor{
    border-color:#6983ff;
    color:#6983ff;
    background-color:#6983ff;
}


.commentDiv{
    padding:5px;
    display:inline-block;
    margin:5px;
    width:calc(100% - 20px);
}



#commentListView.win-itembox{
    background-color:#ffffff;
}

#commentListView {
    min-width:400px;
}

#repliesFlyout.win-flyout {
    background-color: #ffefbe;
}



.disableSelection{
    user-select: none;
    -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}